<footer>
    <div class="row-3">
      <div class="col">
        <img class="logo-img" src="{{ url_for('static',filename='img/logo-r.png') }}" alt="">
        <p>Website provide help and health care advices</p>
      </div>
      <div class="col">
        <h3>Contact us <div class="underline"><span></span></div>
        </h3>
        <p>Computer and Information</p>
        <p>Menofia,Egypt</p>
        <p class="email-id">7yah2022@gmail.com</p>
        <h4>011111111</h4>
      </div>
      <div class="col">
        <h3>Links <div class="underline"><span></span></div>
        </h3>
        </h3>
        <ul class="links-page">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('top_posts') }}">Trending</a></li>
          <li><a href="{{ url_for('posts') }}">Blog</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Become a Subscriber! <div class="underline"><span></span></div>
        </h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/7yah-103068425834346/"> <i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/7yah2022">
          <i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/watch?v=FE0gxMkD_3A">
          <i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <!-- <div class="col">
        <h3>Become a Subscriber <div class="underline"><span></span></div>
        </h3>
        </h3>
        <p>Subscribe to our blog and get the latest updates straight to your inbox.</p>
        <form action="">
          <i class="far fa-envelope"></i>
          <input type="email" placeholder="Email Address" required>
  
          <button type="submit"><i class="fas fa-arrow-right"></i></button>
        </form>
      </div> -->
    </div>
    <hr>
    <p class="copyright">7yah &copy; 2022 - All rights reserved</p>
  </footer>